
.menu {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1;
    left: 0;
    width: 100%;
    border-bottom: 1px solid var(--grey);
}

.menu-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 0;
    padding-top: 0;
}

.menu ul {
    list-style-type: none;
    display: flex;
}

.menu ul li a {
    display: block;
    text-decoration: none;
    padding: 1.8rem;
    color: var(--blue);
    position: relative;
}

.menu h1 {
    font-size: 2.3rem;
}

.menu h1 a {
    text-decoration: none;
}

.menu ul li a::after {
    content: '';
    position: absolute;
    bottom: 2rem;
    left: 50%;
    width: 0;
    height: 0.2rem;
    background: var(--blue);
    transition: all 200ms ease-in-out;
}

.menu div nav ul li a:hover::after {
    width: 60%;
    left: 20%;
}

.menu h1 img {
    height: 40px;
    width: auto;
    display: block;
}

.close-menu {
    display: none;
}

@media (max-width:800px) {
    .menu {
        bottom: 0;
        position: fixed;
        text-align: center;
        display: none;
    }
    .menu-content, .menu-content ul {
        flex-direction: column;
        justify-content: center;
    }
    .menu-content {
        height: 100vh;
    }
    .close-menu-label::after {
        z-index: 9;
        right: 2rem;
        top: 2rem;
        position: fixed;
        background: var(--blue);
        color: var(--branco);
        content: '=';
        font-size: 4rem;
        line-height: 3rem;
        width: 3rem;
        height: 3rem;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0.5rem;
        border-radius: 0.5rem;
        cursor: pointer;
    }
    .close-menu:checked~.menu {
        display: block;
    }
    .close-menu:checked~.close-menu-label::after {
        content: '×';
    }
    .menu-space {
        display: none;
    }

}