.intro-content {
    position: relative;
    top: -7rem;
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    align-items: center;
    gap: var(--gap);
    height: 100vh;
}

.intro-text-content {
    display: flex;
    justify-content: center;
    flex-flow: column wrap;
}

.intro-img img {
    max-width: 100%;
    height: auto;
}

.html-content {
    display: flex;
    flex-flow: column wrap;
    height: 100vh;
}